body {
  background-color: #3C3A4E;
  font-family: 'Taviraj', serif;
}
.title {
  margin-top: 0px;
  text-align: center;
  font-size: 7em;
  color: white;
  font-weight: lighter;
}
.time {
  font-size: 7em;
  font-weight: lighter;
  text-align: center;
  margin-top: 7%;
  color: white;
}
.form {
  display: block;
}
.set {
  display: inline-block;
}
/* to be fixed margin-left: 38%; to be gone*/
.form-div .set-alarm {
  text-align: center;
  display: inline-block;
  margin-left: 38%;
  margin-top: 200px;
  /*margin-right: auto;*/
}
.input {
  background-color: #3C3A4E;
  color: white;
}
.set-alarm .input {
  height: 50px;
  font-size: 3em;
  width: 100px;
  border-style: none;
  border-bottom-style: solid;
  text-align: center;
}
.up-arrow {
  max-width: 25%;
  max-height: 25%;
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  color: white;
}
/*.hour-up-arrow:hover {
  max-width: 30%;
  max-height: 30%;
}*/
.down-arrow {
  max-width: 25%;
  max-height: 25%;
  /* Safari */
  -webkit-transform: rotate(-270deg);
  /* Firefox */
  -moz-transform: rotate(-270deg);
  /* IE */
  -ms-transform: rotate(-270deg);
  /* Opera */
  -o-transform: rotate(-270deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=9);
  color: white;
}
/*.hour-down-arrow:hover {
  max-width: 30%;
  max-height: 30%;
}*/
