body {
  background-color: #181B1F;
  font-family: 'Taviraj', serif;
}
.title {
  margin-top: 0px;
  text-align: center;
  font-size: 7em;
  color: #00dfc3;
  font-weight: lighter;
}
.time {
  font-size: 7em;
  font-weight: lighter;
  text-align: center;
  margin-top: 7%;
  color: #00dfc3;
}
/*.form-div {
  display: block;
  top: -10%;
}*/
.set {
  display: inline-block;
}
/* to be fixed margin-left: 38%; to be gone*/
.form-div .set-alarm {
  text-align: center;
  display: inline-block;
  margin-left: 38%;
  margin-top: 180px;

  /*margin-right: auto;*/
}
.set-alarm .alarm-setter {
  height: 50px;
  font-size: 3em;
  width: 100px;
  border-style: none;
  border-bottom-style: solid;
  text-align: center;
  background-color: #181B1F;
  color: #00dfc3;
}
.up-arrow {
  max-width: 25%;
  max-height: 25%;
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  color: #00dfc3;
}
/*.hour-up-arrow:hover {
  max-width: 30%;
  max-height: 30%;
}*/
.down-arrow {
  max-width: 25%;
  max-height: 25%;
  /* Safari */
  -webkit-transform: rotate(-270deg);
  /* Firefox */
  -moz-transform: rotate(-270deg);
  /* IE */
  -ms-transform: rotate(-270deg);
  /* Opera */
  -o-transform: rotate(-270deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=9);
  color: #00dfc3;
}
.am-pm-section {
  margin-left: 30%;
  top: 90%;
  bottom: 25%;
  left: 33%;
  position: absolute;
}
.am-pm {
  font-size: 3em;
  height: 50px;
  width: 100px;
  border-style: none;
  border-bottom-style: solid;
  border-top-style: solid;
  text-align: center;
  background-color: #181B1F;
  color: #00dfc3;
}
.am-pm-disabled {
  opacity: 0.1;
}
.set-button {
  width: 200px;
  height: 50px;
  background-color: #00dfc3;
  border: none;
  font-size: 2em;
  margin-left: 30%;
  text-decoration: none;
  color: #3C3A4E;
  border-radius: 5px;
  /*top: -10px;*/
  float: right;
}
